// Colors
$primary: #B71C1C;
$secondary: #1565C0;
$error: #B71C1C;
$warning: #FB8C00;
$info: #2196f3;
$success: #388E3C;

$white: #ffffff;
$white2: #f5f5f5;
$white3: #ebedf2;

$grey: #575962;
$grey2: #525252;
$grey3: #9699a2;
$grey4: #E0E0E0;
$grey5: #212529;